<div class="container">
  <ul class="bxslider">
    <li><img src="<%=asset_path('slider-1.jpg')%>" width="950" height="570"/></li>
    <li><img src="<%=asset_path('slider-2.jpg')%>" width="950" height="570"/></li>
    <li><img src="<%=asset_path('slider-3.jpg')%>" width="950" height="570"/></li>
  </ul>
</div>
<div class="container">
  <div class="articles">
    <% @articles.each do |article| %>
      <div class="image">
        <%= article.first_image.try(:html_safe) %>
      </div>
      <div class="title" style="text-align:center; font-style:italic;">
        <%= article.title%>
      </div>
      <br />
      <div class="show-article"><a href="<%= blog_path(article) %>">continue reading</a></div>
      <hr>
    <% end %>
  </div>
</div>
<script>
  // 滾動捲軸會讓header縮小
  $(document).on("scroll", function(){
    if
      ($(document).scrollTop() > 100){
      $(".header").addClass("shrink");
    }
    else
    {
      $(".header").removeClass("shrink");
    }
  });
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      auto: true,
      autoControllers: true,
      slideWidth: 950
    });
  });
</script>
