<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=1551577065139943";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="wrap">
  <div class="container">
    <div class="title" style="text-align:center;">
      <%= @article.title %>
    </div>
    <div class="articles">
      <%= @article.content.try(:html_safe) %>
    </div>
    <div class="also-like">
      <h3>You may also like...</h3>
      <div class="row">
      <% if @similar_articles %>
        <% @similar_articles.each do |similar_article| %>
          <div class="col-md-6">
            <div class="also-like-image">
              <a href="<%= blog_path(similar_article.title) %>">
                <img src="<%= similar_article.first_image_link %>" class="article-image" style="width:100%;height:100%;"/>
              </a>
            </div>
            <div class="also-like-title">
              <a href="<%= blog_path(similar_article.title) %>">
                <%= similar_article.title%>
              </a>
            </div>
            <div class="also-like-article">
              <%= truncate(similar_article.only_words, length: 60) %>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div id="article-comments-<%= @article.id %>"class="fb-comments" data-href="http://www.zhezheisme.com/blogs/<%= @article.id %>" data-width="950" data-numposts="10"></div>
  </div>
</div>

