<div class="wrapper">
  <div class="login-container">
  <h3 class="login-field">找回密碼</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="login-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions login-actions">
      <%= f.submit "寄出重設密碼信", class:"btn btn-primary" %>
    </div>
  <% end %>
    <div class="login-field">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
