<button id="new-category" class="btn btn-primary btn-sm ">新增分類</button>
<form id="new-category-form" method="post" action="<%= admin_categories_path %>" style="display:none">
 <input type="text" name="category[title]">
 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
 <button  type="submit" class="btn btn-info btn-xs">送出</button>
 <button type="button" id="cancel" class="btn btn-danger btn-xs " style="display: none">取消</button>
</form>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>
        文章分類
      </td>
      <td>
        文章數目
      </td>
      <td>
        最新文章發布時間
      </td>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td>
        <%= link_to(category.title, admin_category_path(category)) %>
      </td>
      <td>
        <%= category.articles_count %>
      </td>
      <td>
        <%= category.latest_article %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

