<div style="height:1000px;">
<h1>首頁輪播圖片設定</h1>
  <div class="btn btn-default" id="first-pic">
    第一張圖片
  </div>
  <div class="btn btn-default" id="second-pic">
    第二張圖片
  </div>
  <div class="btn btn-default" id="third-pic">
    第三張圖片
  </div>
  <div class="row slider-pic" style="margin-top:10px;" id="first-banner-pic">
    <div class="col-md-2">
      <div class="file" name="sliders/slider-1.jpg">
        <input class="slider_upload_btn" type="file" id="slider_1_image" name="sliders/slider-1.jpg" />
      </div>
    </div>
    <div class="col-md-10">
      <div class="current_picture">
        <label class="btn btn-default" disabled="disabled">第一張圖片</label>
        <br><img class="slider-1" src="/uploads/sliders/slider-1.jpg" width="500" height="300">
      </div>
      連結名稱<input type="text" name="title" placeholder="連結簡述" value="<%= @slider_link_1.try(:title) %>"/>
      <br/>
      連結網址<input type="text" name="url" placeholder="輸入連結網址" value="<%= @slider_link_1.try(:url) %>" />
      <input type="hidden" name="type" value="slider-1" />
      <br>
      <button type="button" class="slider-link-btn btn btn-primary">送出</button>
    </div>
  </div>
  <div class="row slider-pic" style="margin-top:10px; display:none" id="second-banner-pic">
    <div class="col-md-2">
      <div class="file" name="sliders/slider-2.jpg">
        <input class="slider_upload_btn" type="file" id="slider_2_image" name="sliders/slider-2.jpg" />
      </div>
    </div>
    <div class="col-md-10">
      <div class="current_picture">
        <label class="btn btn-default" disabled="disabled">第二張圖片</label>
        <br><img class="slider-2" src="/uploads/sliders/slider-2.jpg" width="500" height="300">
      </div>
      <input type="text" name="title" placeholder="連結簡述" value="<%= @slider_link_2.try(:title) %>"/>
      <input type="text" name="url" placeholder="輸入連結網址" value="<%= @slider_link_2.try(:url) %>" />
      <input type="hidden" name="type" value="slider-2" />
      <br>
      <button type="button" class="slider-link-btn btn btn-primary">送出</button>
    </div>
  </div>
  <div class="row slider-pic" style="margin-top:10px; display:none;" id="third-banner-pic">
    <div class="col-md-2">
      <div class="file" name="sliders/slider-3.jpg">
        <input class="slider_upload_btn" type="file" id="slider_2_image" name="sliders/slider-3.jpg" />
      </div>
    </div>
    <div class="col-md-10">
      <div class="current_picture">
        <label class="btn btn-default" disabled="disabled">第三張圖片</label>
        <br>
        <img class="slider-3" src="/uploads/sliders/slider-3.jpg" width="500" height="300">
      </div>
      <input type="text" name="title" placeholder="連結簡述" value="<%= @slider_link_3.try(:title) %>"/>
      <input type="text" name="url" placeholder="輸入連結網址" value="<%= @slider_link_3.try(:url) %>" />
      <input type="hidden" name="type" value="slider-3" />
      <br>
      <button type="button" class="slider-link-btn btn btn-primary">送出</button>
    </div>
  </div>
</div>
<script>
  // 滾動捲軸會讓header縮小
  $(document).on("scroll", function(){
    if
      ($(document).scrollTop() > 100){
      $(".header").addClass("shrink");
      updateSliderMargin();
    }
    else
    {
      $(".header").removeClass("shrink");
      updateSliderMargin();
    }
  });

</script>
